nav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.button-list {
    list-style-type: none;
    padding: 0;
}

.button-list li {
    display: inline;
    margin-right: 10px;
}

#name {    
    font-size: 1em;
    color: #fff;
    width: 30%;

}

.thumbnail {
    width: 150px;
    height: auto;
    margin-left:  10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-on-image {
    position: absolute;
    top: 10px;
    left: 55px;
    padding: 5px;
    text-align: center;
}

.text-on-imagetwo {
    position: absolute;
    top: 40px;
    left: 50px;
    padding: 5px;
    text-align: center;
}